.bg-gray {
  background-color: #f0f3f5;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.rounded-panel {
  border-radius: 24px;
  background-color: #fcfcfd;
}

.text-blue {
  color: #4a69e8;
}

.subtitle {
  color: #667f99;
  font-size: 18px;
}

.side-width {
  width: 300px;
}

.Radius16-1 {
  border-radius: 16px;
  padding: 12px 12px 12px 20px;
}

.Radius16-2 {
  border-radius: 16px !important;
  padding: 12px 20px 12px 20px;
}

.modal-dialog-custom {
  max-width: 480px;
}

// 
#pills-tab .nav-link.active {
    background-color: #E0E5EB !important;
  }
  
  /* Hover 效果 */
  #pills-tab .nav-link:hover:not(.active) {
    background-color: #E0E5EB !important;
  }