.side-width {
  width: 300px;
}

//
.Radius16-1 {
  border-radius: 16px;
  padding: 12px 12px 12px 20px;
}

.tab-btn-bg {
  .nav-link {
    background-color: $white;
  }
}

// nav-link 有 active 和 border-radius 樣式，為了保留 active 效果，所以添加了 !important 來覆蓋原本的樣式
// .Radius16-2 {
//   border-radius: 16px !important;
//   padding: 12px 20px 12px 20px;
// }

.modal-dialog-custom {
  max-width: 480px;
}
