<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>contact</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="bg-netural-95">
      <div class="container py-7">
        <div class="row justify-content-center">
          <div class="col-10">
            <!-- 頁面標題 -->
            <h1 class="text-center mb-5 mb-lg-6 fs-2 fz-28px">聯絡我們</h1>
            <p class="mb-6 text-center text-natural-50">每一封郵件，我們都會親自回覆。每一通電話，都是新可能的開始。</p>
            <!-- 右側圖片 -->
            <img src="../assets/images/img.png" class="responsive-img">
            <!-- 卡片容器 -->
            <div class="p-5 p-lg-6 shadow rounded-3 bg-white">
              <form>
                <!-- 1.基本資料 -->
                <div
                  class="personal-info-layout d-flex flex-column flex-md-row gap-4 border-bottom pb-5 pb-lg-6 mb-5 mb-lg-6">
                  <!-- 左側標題 -->
                  <div class="flex-shrink-0 side-width">
                    <div class="d-flex d-md-block justify-content-between align-items-center">
                      <h2 class="fs-4 mb-0 mb-md-3 fz-20">基本資料</h2>
                      <p class="text-natural-50 fz-14">欄位皆為
                        <span class="badge rounded-pill bg-danger ms-1 text-white">必填</span>
                      </p>
                    </div>
                  </div>
                  <!-- 右側表單 -->
                  <div class="container-fluid">
                    <!-- 姓名 -->
                    <div class="mb-5">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="Name" placeholder="姓名">
                        <label for="Name" class="fz-14">姓名</label>
                      </div>
                    </div>
                    <!-- 信箱 -->
                    <div class="mb-5">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="Email" placeholder="信箱">
                        <label for="Email" class="fz-14">信箱</label>
                        <small class="ms-2 text-natural-50">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</small>
                      </div>
                    </div>
                    <!-- 聯絡電話 -->
                    <div class="mb-5">
                      <div class="form-floating">
                        <input type="tel" class="form-control" id="PhoneNumber" placeholder="聯絡電話">
                        <label for="PhoneNumber" class="fz-14">聯絡電話</label>
                        <small class="ms-2 text-natural-50">我們不會以電話主動聯繫您，告知您要至ATM操作轉帳</small>
                      </div>
                    </div>
                    <!-- 目前職業/工作身分 -->
                    <div class="mb-5">
                      <div class="dropdown">
                        <button class="form-select text-start py-3 fz-14" type="button" id="dropdownMenuButton1"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          目前職業/工作身分
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 2.諮詢需求 -->
                <div
                  class="personal-info-layout d-flex flex-column flex-md-row gap-4 border-bottom pb-5 pb-lg-6 mb-5 mb-lg-6">
                  <!-- 左側標題 -->
                  <div class="flex-shrink-0 side-width">
                    <div class="d-flex d-md-block justify-content-between align-items-center">
                      <h2 class="fs-4 mb-0 mb-md-3 fz-20">諮詢需求</h2>
                      <p class="text-natural-50 fz-14">欄位皆為
                        <span class="badge rounded-pill bg-danger ms-1 text-white">必填</span>
                      </p>
                    </div>
                  </div>
                  <!-- 右側表單 -->
                  <div class="flex-grow-1 container-fluid">
                    <!-- 諮詢主題 -->
                    <div class="mb-5">
                      <p class="mb-2 fz-14">諮詢主題</p>
                      <div class="px-0 px-md-2">
                        <div class="challenge-options text-sm">
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult" id="career-exploration"
                                value="career-exploration">
                              <label class="form-check-label" for="career-exploration">職涯探索與方向</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult"
                                id="freelancing-monetization" value="freelancing-monetization">
                              <label class="form-check-label" for="freelancing-monetization">接案與技能變現</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult"
                                id="brand-content-management" value="brand-content-management">
                              <label class="form-check-label" for="brand-content-management">品牌與內容經營</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult"
                                id="remote-work-digital-nomad" value="remote-work-digital-nomad">
                              <label class="form-check-label" for="remote-work-digital-nomad">遠端工作與數位游牧</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult" id="income-time-management"
                                value="income-time-management">
                              <label class="form-check-label" for="income-time-management">收入與時間管理</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="consult" id="consult-other"
                                value="consult-other">
                              <label class="form-check-label" for="consult-other">其他(請說明)</label>
                            </div>
                          </div>
                          <small class="ms-2 text-natural-50">可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。</small>
                        </div>
                      </div>
                    </div>
                    <!-- 期望諮詢的專家 -->
                    <div class="mb-5">
                      <div class="dropdown">
                        <button class="form-select text-start py-3 fz-14" type="button" id="wishpro"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          期望諮詢的專家
                        </button>
                      </div>
                    </div>
                    <!-- 您目前面臨的主要挑戰 -->
                    <div class="mb-4">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="您目前面臨的主要挑戰" id="challenge" name="challenge"
                          style="height: 160px" maxlength="300"></textarea>
                        <label for="challenge" class="fz-14">您目前面臨的主要挑戰</label>
                      </div>
                    </div>
                    <!-- 期望達成的目標 -->
                    <div class="mb-4">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="期望達成的目標" id="intent" name="intent"
                          style="height: 160px" maxlength="300"></textarea>
                        <label for="intent" class="fz-14">期望達成的目標</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 聯絡偏好 -->
                <div class="personal-info-layout d-flex flex-column flex-md-row gap-4">
                  <!-- 左側標題 -->
                  <div class="flex-shrink-0 side-width">
                    <div class="d-flex d-md-block justify-content-between align-items-center">
                      <h2 class="fs-4 mb-0 mb-md-3 fz-20">聯絡偏好</h2>
                      <p class="text-natural-50 fz-14">欄位皆為選填</p>
                    </div>
                  </div>
                  <!-- 右側表單 -->
                  <div class="flex-grow-1 container-fluid">
                    <!-- 偏好聯絡方式 -->
                    <div class="mb-4">
                      <p class="mb-2 fz-14">偏好聯絡方式</p>
                      <div class="px-0 px-md-2 text-sm">
                        <div class="form-check form-check-inline me-3 mb-2">
                          <input class="form-check-input" type="radio" name="contact" id="email" checked>
                          <label class="form-check-label" for="email">信箱</label>
                        </div>
                        <div class="form-check form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="contact" id="phone">
                          <label class="form-check-label" for="phone">電話</label>
                        </div>
                        <div class="form-check form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="contact" id="LINE">
                          <label class="form-check-label" for="LINE">LINE</label>
                        </div>
                        <div class="form-check form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="contact" id="Discord">
                          <label class="form-check-label" for="Discord">Discord</label>
                        </div>
                      </div>
                    </div>
                    <!-- 偏好聯絡時段 -->
                    <div class="mb-5">
                      <p class="mb-2 fz-14">偏好聯絡時段</p>
                      <div class="px-0 px-md-2">
                        <div class="challenge-options text-sm">
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="Am0900"
                                value="Am0900">
                              <label class="form-check-label" for="Am0900">平日上午(9:00-12:00)</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="pm1300"
                                value="pm1300">
                              <label class="form-check-label" for="pm1300">平日下午(13:00-17:00)</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="pm1800"
                                value="pm1800">
                              <label class="form-check-label" for="pm1800" value="pm1800">平日晚上(18:00-21:00)</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="SaturdayAm0900"
                                value="SaturdayAm0900">
                              <label class="form-check-label" for="SaturdayAm0900">週末上午(9:00-12:00)</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="SundayPm1300"
                                value="SundayPm1300">
                              <label class="form-check-label" for="SundayPm1300"
                                value="SundayPm1300">週末下午(13:00-17:00)</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="contactTime" id="SundayNightPm1800"
                                value="SundayNightPm1800">
                              <label class="form-check-label" for="SundayNightPm1800">週末晚上(18:00-21:00)</label>
                            </div>
                          </div>
                          <small class="ms-2 text-natural-50">建議您可以勾選 2 個時段以上</small>
                        </div>
                      </div>
                    </div>
                    <!-- 預約時間 -->
                    <div class="mb-5">
                      <div class="form-floating position-relative">
                        <input type="text" class="form-control" id="TimeZone" placeholder="預約諮詢時間">
                        <label for="TimeZone" class="fz-14">預約諮詢時間</label>
                        <span class="calendar-icon material-icons-outlined fz-20">
                          calendar_month
                        </span>
                      </div>
                    </div>
                    <!-- 如何得知我們 -->
                    <div class="mb-5">
                      <p class="mb-2 fz-14">如何得知我們</p>
                      <div class="px-0 px-md-2">
                        <div class="challenge-options text-sm">
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="Google"
                                value="Google">
                              <label class="form-check-label" for="Google">Google 搜尋</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="Instagram"
                                value="Instagram">
                              <label class="form-check-label" for="Instagram">Instagram</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="Facebook"
                                value="Facebook">
                              <label class="form-check-label" for="Facebook">Facebook</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="Threads"
                                value="Threads">
                              <label class="form-check-label" for="Threads">Threads</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="YouTube"
                                value="YouTube">
                              <label class="form-check-label" for="YouTube">YouTube</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="Podcast"
                                value="Podcast">
                              <label class="form-check-label" for="Podcast">Podcast / 節目推薦</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="friend"
                                value="friend">
                              <label class="form-check-label" for="friend">朋友或同事推薦</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="workshop"
                                value="workshop">
                              <label class="form-check-label" for="workshop">曾參加職旅活動 / 工作坊</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="consultant"
                                value="consultant">
                              <label class="form-check-label" for="consultant">職涯顧問介紹</label>
                            </div>
                          </div>
                          <div class="challenge-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="community" id="community-Other"
                                value="communityOther">
                              <label class="form-check-label" for="community-Other">其他（請填寫下題）</label>
                            </div>
                          </div>
                          <small class="ms-2 text-natural-50">最多勾選 3 個</small>
                        </div>
                      </div>
                    </div>
                    <!-- 有什麼其他想告訴我們的事情嗎-->
                    <div class="mb-5">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="有什麼其他想告訴我們的事情嗎？（最多300字）" id="ContactOther"
                          name="ContactOther" style="height: 160px" maxlength="300"></textarea>
                        <label for="ContactOther" class="fz-14">有什麼其他想告訴我們的事情嗎？（最多300字）</label>
                      </div>
                    </div>
                    <!-- 同意條款 -->
                    <div class="mb-6">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="Terms" id="LatestNews" value="LatestNews">
                        <label class="form-check-label" for="LatestNews">我願意接收職旅最新資訊和專業內容</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Terms" id="TsAndCs" value="TsAndCs">
                        <label class="form-check-label" for="TsAndCs">我同意
                          <a href="userAgreement.html" class="custom-link-underline text-primary">服務條款</a>
                          和
                          <a href="privacy.html" class="custom-link-underline text-primary">隱私政策</a></label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!-- 送出表單 -->
              <div class="d-flex flex-column-reverse flex-md-row justify-content-center gap-4">
                <button type="button"
                  class="btn btn-outline-dark border Radius16-1 d-flex align-items-center justify-content-center me-lg-2 fz-14">
                  重新填寫
                  <span class="material-icons-outlined ms-1">chevron_right</span>
                </button>
                <button type="button" class="btn btn-dark Radius16-1 d-flex align-items-center justify-content-center fz-14">
                  確認送出
                  <span class="material-icons-outlined ms-1">chevron_right</span>
                </button>
              </div>
            </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>