<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>userAgreement</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main>
            <div class="container py-lg-7 py-6">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="privacy-content">
                            <h1 class="text-center mb-5 mb-lg-6 fs-2 fz-28px">用戶條款</h1>
                            <p class="mb-lg-5 mb-4">最後更新日期：2025 年 1 月 1 日</p>
                            <p class="mb-lg-5 mb-4 fz-14">歡迎使用職旅 WorkWay（以下簡稱「本平台」）。請詳細閱讀以下使用者條款，使用本平台即表示你同意本條款內容。</p>
                            <!-- 一、帳號註冊與義務 -->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">一、帳號註冊與義務</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">一、帳號註冊與義務</h5>
                                <ul class="fz-14">
                                    <li>你必須提供真實、完整的註冊資料，並對帳號行為負責。</li>
                                    <li>不得冒用他人身份、或干擾他人使用本平台。</li>
                                </ul>
                            </section>
                            <!-- 二、服務內容 -->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">二、服務內容</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">二、資料使用目的</h5>
                                <span class="fz-14">本平台提供自由職涯相關服務，包括職涯諮詢、資源內容、顧問配對等功能。</span>
                                <p class="fz-14">我們保留變更、暫停、終止部分或全部服務的權利，恕不另行通知。</p>
                            </section>
                            <!-- 三、使用規範 -->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">三、使用規範</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">三、使用規範</h5>
                                <span class="fz-14">你同意不從事以下行為：</span>
                                <ul class="fz-14">
                                    <li>上傳任何不實、具侵權或誤導性的資訊</li>
                                    <li>干擾平台正常運作或其他使用者體驗</li>
                                    <li>濫用諮詢資源或未經授權對外公開諮詢內容</li>
                                    <li>從事與本平台業務無關之商業推廣</li>
                                </ul>
                            </section>
                            <!-- 四、智慧財產權-->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">四、智慧財產權</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">四、智慧財產權</h5>
                                <p class="fz-14">你有權查閱、更正、刪除你的個人資料，亦可向我們請求停止處理或使用。</p>
                            </section>
                            <!-- 五、終止與限制使用 -->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">五、終止與限制使用</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">五、終止與限制使用</h5>
                                <p class="fz-14">如使用者違反本條款或法律規定，我們有權暫停或終止服務，無須事前通知。</p>
                            </section>
                            <!-- 六、責任限制 -->
                            <section class="mb-lg-5 mb-4">
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">六、責任限制</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">六、責任限制</h5>
                                <p class="fz-14">本平台所提供資訊與建議僅供參考，並不構成法律、財務、醫療等專業意見。我們不對使用本服務後的職涯結果或第三方服務負完全責任。</p>
                            </section>
                            <!-- 七、準據法與爭議解決 -->
                            <section>
                                <h2 class="mb-12 fs-3 d-sm-none d-lg-block">七、準據法與爭議解決</h2>
                                <h5 class="mb-2 d-lg-none d-sm-block">七、準據法與爭議解決</h5>
                                <p class="fz-14">本條款受中華民國法律管轄。如有爭議，雙方同意以台灣台北地方法院為第一審管轄法院。</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>

</html>